.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Hash-form-container {
  margin: 0 25vw;
  padding-bottom: 24px;
  width: 50vw;
  border-bottom: 1px solid black;
}

.Hash-form, .Hash-input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Hash-input-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Hash-input-disable {
  display: flex;
  width: 100%;
}

.Hash-checkbox {
  margin: 0 6px 0 0;
}

.Hash-table {
  margin: 0 5vw;
  width: 90vw;
}

.id {
  width: 5%;
}

@media only screen and (max-width: 1335px) {
  .Hash-input-row, .Hash-input-div {
    flex-direction: column;
    align-items: center;
  }
}